*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.ol-zoom {
    bottom: 1.5em !important;
    right: .5em !important;
    left: auto;
    top: auto;
}

.nav_bar{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 0;
    margin: 10px;
}

.right_top {
    display: flex;
    margin-left: 15px;
}


.right_top .fe_rt{
    margin: 0px 8px;
    padding: 7px 0px;
    border-radius: 20px;    
    color: rgb(255, 91, 0);
}
.right_top .pd_rt{
    margin: 0px 8px;
}

.service{
    display: flex;
}

.aside{
    width: 16.1vw;
    z-index: 1;
    display: none;
    /* display: table-caption; */
    margin-left: none !important;
    box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
}

.name_location{
    padding: 16px 24px;
    margin-top: 70px;
}

.name_location h1{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
}


.loaihinh{
    font-size: unset;
    margin-top: 15px;
}

.info_name_location{
    font-size: smaller;
}

.l_aside{
    content: '';
    height: 2px;
    background: #e5dfdf;
}
.info_more{
    width: auto;
}
.info_more i{
    color: deepskyblue;
    font-size: 20px;
}
.info_more input{
    margin-left: 20px;
    border: none;
}
.info_more{
    padding: 16px 24px;
    width: 307px;
}
.info_pd{
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    display: flex;
}
.price input{
    width: 25%;
}
.info_pd:hover{
    cursor: pointer;
}
.info_pd input:hover{
    cursor: pointer;
}
.nav_bar i{
    cursor: pointer;
}
.fe_rt:hover{
    cursor: pointer;
}
.login img:hover{
    cursor: pointer;
}
#name{
    border: none;
}
#map{
    width: 100vw;
    height: 100vh;
}
/*Remove arrow on input type = number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:focus{
    outline: none;
}
.selected {
    /* background-color: rgb(200 200 200) !important; */
}

.btn-s-d{
    
	display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.btn-s-d button{
    font-size: 19px;
    padding: 7px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.btn-s-d span{
    padding: 5px;
    font-size: medium;
}
.btn-s-d button:hover{
    cursor: pointer;
}

/*BTN ADDNEW*/
.btn-addnew {
    background: rgb(196, 195, 195);
    background-repeat: no-repeat;
    background-size: 0 100%;
    border-radius: 0;
    color: #fff;
}

.btn-addnew:hover {
    cursor: pointer;
    background: rgb(255, 91, 0);
    color: #fff;
}

/*BTN CANCEL*/
.btn-cancel {
    background: rgb(196, 195, 195);
    background-repeat: no-repeat;
    background-size: 0 100%;
    border-radius: 0;
    color: #fff;
}

.btn-cancel:hover {
    cursor: pointer;
    background: rgb(255, 91, 0);
    color: #fff;
}

/* pop up */

.pop_up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    visibility: visible;
    backface-visibility: hidden;
    z-index: 2000;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
    text-align: center;
}
::-webkit-scrollbar { 
    display: none; 
}
.form_pop_up {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 2px 18px -5px;
    padding: 40px;
    border-radius: 14px;
    height: 600px; 
    overflow:auto;
}

.form_pop_up table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.form_pop_up table tbody {
    height: 400px;
    overflow:scroll;
}
.form_pop_up table tbody tr {
    border-bottom: 1px solid #D1D1D1;
    padding: 30px 0;
    border: 1px solid black;
    cursor: pointer;
}
/* .form_pop_up table tbody tr:first-child td{
    font-size: 24px;
    background: rgb(255, 91, 0);
    color: #fff;
} */

.form_pop_up table tbody tr:first-child:hover{
    background-color: unset;
    cursor: unset;
}

.form_pop_up table tbody tr:hover {
    background-color: #fff0e5;
}
.form_pop_up table tbody tr td {
    padding: 10px;
    line-height: 30px;
}
.form_pop_up table tbody tr td:first-child {
    width: 50%;
}
.form_pop_up table tbody tr td:last-child {
    width: 50%;
}
.form_pop_up_tr{
    font-size: 24px;
    background: rgb(255, 91, 0);
    color: #fff;
}
.material-symbols-outlined{
    margin-top: 6px;
}

#submit {
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-right: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 91, 0);
    border-radius: 6px;
    padding: 12px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 91, 0);
    border-image: initial;
}
#submit:hover {
    background-color: rgb(224, 80, 0);
}
.md_close {
    background-image: url(../maps/img/ic_close.png);
    background-size: contain;
    position: absolute;
    top: 11px;
    right: -65px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.md_overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    transition: all 0.3s;
}
.active {
    opacity: 1;
    visibility: visible;
}
.pop_up.active {
    display: block;
}
.service {
    margin-right: 36px;
}
.dropdown-menu {
    left: -14px !important;
}